/* INDEX CSS */

/* DESIGNED FOR SMALL SCREENS FIRST */
/* STYLING FOR MEDIUM AND LARGE SCREENS BELOW IN MEDIA QUERRIES */


/* GENERAL RESETS AND STYLINGS**********************************************************/
*, *:before, *:after {
	/* UNIVERSAL BOX-SIZING - SET WIDTH TO INCLUDE PADDING AND BORDER */
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
	background: rgb(250,250,250);
}

html,
body,
header,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
em,
cite,
span,
footer {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(25,25,25);
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	/* MORE ANCHOR STYLINGS BELOW IN NAV AND SECTIONS */
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

q {
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: rgb(150,0,0);
	width: 95%;
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 2.5px;
	cursor: default;
}

q span {
	color: rgb(50,15,15);
}

cite {
	font-style: normal;
	padding: 10px;
	margin-top: 15px;
	cursor: default;
}

cite span {
	color: rgb(150,0,0);
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
	margin: 25px auto 35px;
}
/* END GENERAL *********************************/


/* NAV ******************************/
#navBackground {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 65px;
	background: rgba(100,175,255,0.5);
}

#navIconWrap {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 65px;
	background-color: rgba(235,235,235,0.9);
	padding: 5px;
	padding-top: 10px;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-radius: 0px 0px 2.5px 0px;
	z-index: 9999;
}

#navIcon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 9999;
	-webkit-filter: opacity(.5);filter: opacity(.5);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#navIcon:active, #navIcon:focus, #navIcon:hover {
	-webkit-filter: opacity(.8);filter: opacity(.8);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding-top: 15px;
	background: rgba(0,0,0,0.99);
	z-index: 9999;
}

nav a {
	color: rgb(225,15,15);
	background: rgba(0,0,0,0.7);
	width: 75px;
	height: 50px;
	margin: auto;
}

nav a:active, nav a:focus, nav a:hover {
	color: rgb(255,255,240);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

nav p {
	color: rgb(255,255,240);
	font-size: 1.25em;
	padding-top: 10px;
	padding-bottom: 10px;
}

.email {
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.email:active, .email:focus, .email:hover {
	color: rgb(200,50,50);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	margin: 10px auto;
}

#navGithubLink,
#navLinkedinLink {
	display: inline-block !important;
	width: 75px;
	margin: 15px auto;
}

nav q span {
	color: rgb(255,255,240);
}

nav cite {
	color: rgb(255,255,240);
}

#closeNav {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: rgb(125,0,0);
	border-top: 1px solid rgb(200,0,0);
	border-left: 1px solid rgb(200,0,0);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
	z-index: 999999;
}

#closeNav p {
	color: rgb(255,100,100);
	line-height: 30px;
	font-size: 1.25em;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#closeNav p:active, #closeNav p:focus, #closeNav p:hover {
	color: ivory;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#headerNav {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 65px;
	padding: 10px;
	padding-left: 0px;
	padding-top: 5px;
	background-color: rgba(235,235,235,0.9);
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-radius: 0px 0px 0px 2.5px;
	z-index: 9999;
}

#headerNav a {
	font-family: 'Playfair Display', serif;
	color: rgb(50,50,50);
	padding-left: 5px;
	padding-bottom: 25px;
}

#headerProjects {
	background: url('../img/misc_icons/projectsIcon.png');
}

#headerMe {
	background: url('../img/misc_icons/meIcon.png');
}

#headerContact {
	background: url('../img/misc_icons/contactIcon.png');
}

#headerTop  {
	background: url('../img/misc_icons/topIcon.png');
}

#headerProjects,
#headerMe,
#headerContact,
#headerTop {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 25px 20px;
	-webkit-filter: opacity(.5);filter: opacity(.5);
}

#headerNav a:active, #headerNav a:focus, #headerNav a:hover {
	font-style: italic;
	color: rgb(100,175,255);
	-webkit-filter: opacity(.8);filter: opacity(.8);
}
/* END NAV ******************/


/*HEADER ***********************/
header {
	position: relative;
	padding-top: 50px;
	padding-bottom: 25px;
	height: 420px;
	overflow: hidden;
	background: url('../img/backgrounds/rain2Sm.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#whoIAmDiv {
	padding-top: 50px;
	margin: auto;
}

#whoIAmDiv h2 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: ivory;
	padding-bottom: 150px;
	text-shadow: 1px 1px 0px rgb(50,50,50);
	cursor: default;
}

#whoIAmDiv p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	color: ivory;
	text-shadow: 1px 1px 0px rgb(50,50,50);
}
/* END HEADER ***********************/



/* TOOLS SECTION ******************/
#tools ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	background: rgb(100,175,255);
	border-top: 1px solid rgb(125,200,255);
	border-bottom: 2px solid rgb(50,125,255);
}

#tools ul li {
	display: inline-block;
	color: rgb(245,245,255);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 5px 7.5px 6px 7.5px;
	white-space: nowrap;
	cursor: default;
}

.subUL {
	background: rgba(235,235,235,.5);
}
/* END TOOLS SECTION ************************/



/* GENERAL SECTIONS STYLING ***********************/
section h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 15vw;
	font-weight: 100;
	margin: auto;
	cursor: default;
}

section a {
	margin: 50px auto 10px;
}

section p {
	width: 90%;
	line-height: 24px;
	margin: 10px auto;
	padding: 5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}
/* END SECTIONS ***********************/



/* PROJECTS SECTION ***********************/
#projectSection {
	color: rgb(65,65,65);
	overflow: hidden;
	position: relative;
}

#projectSection hr {
	color: rgb(100,175,255);
}

#clickTipWrap {
	display: none;
}

#clickTip {
	display: none;
}

#projectsTitle {
	font-style: normal;
	letter-spacing: 1px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.projBox {
	padding-top: 10px;
	padding-bottom: 15px;
}

#projectMenuWrap {
	display: none;
}

#projMenuTip {
	display: none;
}

.projectMainDes {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 90%;
	max-width: 1100px;
	line-height: 27px;
	margin: 10px auto;
}

#methodology {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.55em;
	opacity: 0;
	white-space: nowrap;
}

@-webkit-keyframes methodologySlide {
	0% {opacity: 0;}
	5% {opacity: 0;}
	25% {opacity: 1;}
	65% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes methodologySlide {
	0% {opacity: 0;}
	5% {opacity: 0;}
	25% {opacity: 1;}
	65% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}

.projGitImg {
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px auto;
	opacity: .7;
}

#mainProjHr {
	max-width: 1200px;
}

.projectArrow {
	position: absolute;
	margin-top: -65px;
	left: 50%;
	width: 35px;
	height: 35px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgb(100,175,255) rgb(100,175,255);
	z-index: 999;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#projectArrow1 {
	margin-left: -75px;
	-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);
}

#projectArrow1 p {
	-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);
	margin-top: -7.5px;
	text-indent: 5px;
	cursor: pointer;
}

#projectArrow2 {
	margin-left: 35px;
	-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg);
}

#projectArrow2 p {
	-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);
	margin-top: -20px;
	margin-left: 20px;
	cursor: pointer;
}

.projectWrap {
	margin: 25px auto 75px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.projectLink {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1.5em;
	padding: auto 5px;
	border-top: 5px double rgb(100,175,255);
	border-bottom: 5px double rgb(100,175,255);
}

.projectLink:active, .projectLink:focus, .projectLink:hover {
	color: rgb(175,25,25) !important;
}

.projectImg {
	width: 225px;
	height: 175px;
	margin: 10px auto;
}

.projectDes {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	max-width: 500px;
	line-height: 27px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 2.5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.projectDes span {
	font-style: italic;
	font-weight: 600;
	border-bottom: 1px solid rgb(25,25,25);
	padding-left: 5px;
	padding-right: 5px;
}
/* END PROJECTS SECTION***********************/



/* ME SECTION **************/
#meSection {
	position: relative;
	background: -webkit-linear-gradient(left, black 50%, white 50.01%);background: linear-gradient(to right, black 50%, white 50.01%);
	padding-top: 25px;
	padding-bottom: 0px;
	overflow: hidden;
}

#meSection .wrapper {
	margin: auto;
	height: 100%;
}

#meSection h1 {
	font-style: normal;
	color: white;
	margin-top: 0px;
	margin-left: -20px;
	margin-bottom: 15px;
}

#meSection h1 span {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1em;
	color: black;
	text-shadow: none;
	margin-left: 5px;
}

#myPicDiv {
	width: 100px;
	height: 125px;
	margin: 25px auto 15px;
	border-radius: 0px 30% 0px 30%;
}

.meTextWrap {
	width: 90%;
	background: white;
	margin: 25px auto;
	border-radius: 25px;
}

#meTextWrap1 {
	width: 150px;
}

#meTextWrap2 {
	max-width: 600px;
}

.meText {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: black;
	line-height: 27px;
	width: 100%;
	background: white;
	padding: 10px;
	margin: 0px auto;
	border-radius: 25px;
	-webkit-transform: translate(1000px, 0px);-ms-transform: translate(1000px, 0px);transform: translate(1000px, 0px);
	-webkit-transition-duration: 1s;transition-duration: 1s;
	opacity: 0;
}

#yinyang2 {
	width: 50px;
	height: 50px;
	margin: auto auto 25px;
	background: url('../img/yinyang2.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

#meSection h2 ,
#myDealSection h2,
#contactSection h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	letter-spacing: 1px;
}

#myDealSection {
	background: black;
	text-align: center;
	padding-bottom: 50px;
}

#myDealSection h3 {
	color: rgb(100,175,255);
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: 1px;
}

#dealH3-2 {
	padding-top: 35px;
	padding-bottom: 25px;
}

#myDealTitle {
	color: rgb(50,50,50);
	text-shadow: 2px 1px 0px rgb(100,175,255);
	font-size: 3em;
	cursor: default;
	padding-top: 35px;
	padding-bottom: 20px;
}

#myDealTitle span {
	font-style: italic;
	text-shadow: 2px 1px 0px rgb(175,25,25);
}

#devices {
	margin-top: 15px;
}

.note {
	color: rgb(100,175,255);
	font-style: italic;
	margin-top: 0px;
}

#meSection2 {
	position: relative;
	height: 750px;
}

.detailTitle {
	padding-top: 25px;
	padding-bottom: 25px;
	cursor: default;
}

.myDealText {
	font-family: 'Open Sans', sans-serif;
	color: ivory;
	font-weight: 300;
	line-height: 27px;
}

.happyFace {
	color: rgb(175,15,15);
	font-size: 2.5em;
	margin-bottom: 50px;
}

#myDealSection q {
	max-width: 420px;
}

#myDealSection q span {
	color: rgb(225,210,210);
}

#myDealSection cite {
	color: rgb(175,15,15);
}

#myDealSection cite span {
	color: rgb(100,175,255);
}

#contactSection {
	padding-top: 0px;
	padding-bottom: 0px;
}

#contact {
	background: -webkit-linear-gradient(right, black 50%, white 50.01%);background: linear-gradient(to left, black 50%, white 50.01%);
	padding-bottom: 75px;
}

#contactTitle {
	font-size: 3em;
	cursor: default;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-left: -10px;
}

#contactTitle span {
	color: white;
}

.contactText {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: black;
	line-height: 27px;
	background: white;
	padding: 10px;
	border-radius: 25px;
	max-width: 275px;
	margin: 25px auto;
}

.contactText:nth-of-type(2) {
	max-width: 500px;
}

.refEmail {
	color: black;
	font-weight: bold;
	font-size: 1.25em;
	background: white;
	padding: 10px;
	border-radius: 25px;
	max-width: 325px;
	margin: 25px auto;
}

#contactGithubLink,
#contactLinkedinLink {
	color: rgb(255,240,240);
	width: 75px;
	height: 50px;
	margin: auto;
	display: none;
}
/* END ME SECTION ***********/



/* SKILL SECTION ***********************/
#skillSection {
	background-attachment: fixed !important;
	padding-top: 0px;
}

#skillSection h1 {
	color: white;
	background: black;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-top: 0px;
}

#skillSection p {
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
}

#skillsKey h4 {
	display: inline-block;
	width: 135px;
	border-bottom: 2px solid white;
}

#skillExplanationDiv {
	background: rgba(0,0,0,0.9);
	width: 95%;
	max-width: 750px;
	margin: 75px auto auto; 
	padding-top: 10px;
	padding-bottom: 15px;
}

.skillExplanation {
	line-height: 27px;
	color: white;
}

#skills {
	width: 100%;
	max-width: 420px;
	margin: 100px auto;
	padding-top: 25px;
	padding-bottom: 25px;
	background: rgba(0,0,0,0.9);
	border-bottom-color: white;
}

.skillKey {
	color: white;
}

.skill div {
	display: inline-block;
}

.skillInfo {
	width: 135px;
}

.skillName {
	display: inline-block;
	color: ivory;
	text-align: left;
	font-size: 0.9em;
	width: 90px;
	padding-left: 0px !important;
}

.skillLogo {
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 5px;
	border-radius: 1px;
}

.skillLev {
	text-align: left;
	width: 135px;
	height: 25px;
	margin-bottom: -8px;
}

.skillNum {
	display: inline-block;
	color: white;
	font-size: 0.9em;
	width: 15px;
	margin: 0px auto !important;
	padding: 0px !important;
	text-shadow: 1px 1px 0px black;
}

.skillLevDis {
	text-align: right;
	height: 100%;
	padding-right: 5px;
}

/* HTML */
#skillLevDis0 {
	background: -webkit-linear-gradient(left, black, coral);background: linear-gradient(to right, black, coral);
	width: 110px;
}

/* CSS */
#skillLevDis1 {
	background: -webkit-linear-gradient(left, black, dodgerblue);background: linear-gradient(to right, black, dodgerblue);
	width: 110px;
}

/* JAVASCRIPT */
#skillLevDis2 {
	background: -webkit-linear-gradient(left, black, darkorange);background: linear-gradient(to right, black, darkorange);
	width: 97px;
}

/* ILLUSTRATOR */
#skillLevDis3 {
	background: -webkit-linear-gradient(left, black, orange);background: linear-gradient(to right, black, orange);
	width: 97px;
}

/* PHOTOSHOP */
#skillLevDis4 {
	background: -webkit-linear-gradient(left, black, dodgerblue);background: linear-gradient(to right, black, dodgerblue);
	width: 70px;
}

/* GITHUB */
#skillLevDis5 {
	background: -webkit-linear-gradient(left, black, purple);background: linear-gradient(to right, black, purple);
	width: 83px;
}

/* JQUERY */
#skillLevDis6 {
	background: -webkit-linear-gradient(left, black, red);background: linear-gradient(to right, black, red);
	width: 55px;
}

/* MEAN STACK */
#skillLevDis7 {
	background: -webkit-linear-gradient(left, black, darkgreen);background: linear-gradient(to right, black, darkgreen);
	width: 40px;
}

/* RESPONSIVE */
#skillLevDis8 {
	background: -webkit-linear-gradient(left, black, mediumturquoise);background: linear-gradient(to right, black, mediumturquoise);
	width: 97px;
}

/* BOOTSTRAP */
#skillLevDis9 {
	background: -webkit-linear-gradient(left, black, blueviolet);background: linear-gradient(to right, black, blueviolet);
	width: 40px;
}

/* PHP */
#skillLevDis10 {
	background: -webkit-linear-gradient(left, black, mediumpurple);background: linear-gradient(to right, black, mediumpurple);
	width: 27px;
}

/* MYSQL */
#skillLevDis11 {
	background: -webkit-linear-gradient(left, black, dodgerblue, orange);background: linear-gradient(to right, black, dodgerblue, orange);
	width: 27px;
}

.skillHeading {
	font-size: 1.2em;
	max-width: 400px !important;
	margin: auto;
	border-bottom: 1px solid black;
}

#skillLevelExplanationDiv {
	margin-top: 15px;
}

.skillLevelExplanation {
	color: white;
}

#skillQuoteDiv {
	width: 95%;
	max-width: 750px;
	margin: 25px auto;
	background: rgba(0,0,0,0.9);
	padding-top: 10px;
	padding-bottom: 10px;
}

#skillQuoteDiv  q span {
	color: rgb(225,210,210);
}

#skillQuoteDiv  cite {
	color: rgb(175,15,15);
}

#skillQuoteDiv  cite span {
	color: rgb(100,175,255);
}
/* END SKILL SECTION ***********************/



/* SUBHEADER FLOWER STYLINGS IN FLOWER.CSS *************/
#subHeaderWrap {
	position: relative;
}

#subHeader {
	position: relative;
	padding-bottom: 25px;
	overflow: hidden;
}

#subHeader h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 10vw;
	letter-spacing: 1px;
	color: black;
	margin-bottom: -10px;
	cursor: default;
	z-index: 99999;
}

#monitor {
	display: none;
}

.headerImg {
	width: 125px; 
	height: 204px;
}

#devHand {
	-webkit-transform: translate(-1000px, 0px);-ms-transform: translate(-1000px, 0px);transform: translate(-1000px, 0px);
	-webkit-transition-duration: 1s;transition-duration: 1s;
	-webkit-filter: saturate(2);filter: saturate(2);
	opacity: 0;
}

#desHand {
	-webkit-transform: translate(1000px, 0px);-ms-transform: translate(1000px, 0px);transform: translate(1000px, 0px);
	-webkit-transition-duration: 1s;transition-duration: 1s;
	-webkit-filter: saturate(2);filter: saturate(2);
	opacity: 0;
}

.headerTitle {
	width: 200px; 
	height: 30px;
	margin: 5px;	
}

#dev{
	-webkit-transition-duration: 1s;transition-duration: 1s;
}

#des {
	-webkit-transition-duration: 1s;transition-duration: 1s;
}

.subTitle {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.25em;
	margin: 25px auto;
}

#color {
	display: none;
}
/* END SUBHEADER **********************/



/* CODE FOR A HAPPY LIFE SECTION ******************************/
#codeSection {
	position: relative;
	background: black;
	overflow: hidden;
}

#codeSection h1 {
	font-size: 9vw;
	color: ivory;
	padding: 5px;
	padding-top: 25px;
	margin-bottom: 15px;
}

#codeSection h1 span{
	color: rgb(25,25,25);
	text-shadow: 2px 1px 0px rgb(100,175,255);
}

#codeSection p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: rgb(175,15,15);
	margin: 15px auto 10px;
}

#codeSection h5 {
	display: none;
}

#codeSection q span {
	color: ivory;
}

#codeSection cite {
	color: ivory;
}

.codeWrap{
	margin: 35px auto 50px;
	margin-left: 5%;
}

code {
	display: block;
	text-align: left;
	line-height: 20px;
	color: ivory;
}

.italic {
	font-style: italic;
	font-weight: bold;
	color: rgb(200,0,0);
}

.punc{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(175,15,15);
}

.string {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 1px;
	color: rgb(100,175,255);
}

.oneIndent {
	text-indent: 15px;
}

.twoIndents {
	text-indent: 30px;
}

.threeIndents {
	text-indent: 45px;
}
/* END CODE SECTION *************/



/* FOOTER ***********************/
footer {
	position: relative;
	padding-top: 15px;
	background: -webkit-linear-gradient(black, rgb(10,0,0));background: linear-gradient( black, rgb(10,0,0));
}

footer a {
	position: absolute;
	top: 10px;
	width: 50px;
	height: 50px;
}

#footerGithubLink {
	left: 10px;
}

#footerLinkedinLink {
	right: 10px;
}

footer p {
	color: ivory;
	font-size: .9em;
	line-height: 20px;
}

footer p:nth-of-type(1) {
	font-size: 2em;
	margin-bottom: 15px;
}
/* END FOOTER ***********************/