/* INDEX CSS */

/* DESIGNED FOR SMALL SCREENS FIRST */
/* STYLING FOR MEDIUM AND LARGE SCREENS BELOW IN MEDIA QUERRIES */


/* GENERAL RESETS AND STYLINGS**********************************************************/
*, *:before, *:after {
	/* UNIVERSAL BOX-SIZING - SET WIDTH TO INCLUDE PADDING AND BORDER */
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
}

html,
body,
header,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
em,
cite,
span,
footer {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(125,0,0);
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	/* MORE ANCHOR STYLINGS BELOW IN SECTIONS */
}

a:active, a:focus, a:hover {
	color: rgb(200,0,0);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

q {
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: rgb(150,0,0);
	width: 95%;
	max-width: 500px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 2.5px;
	cursor: default;
}

q span {
	color: rgb(75,0,0);
}

q:active, q:focus, q:hover {
	background: rgba(255,255,255,0.4);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px 5px 5px rgba(0,0,0,0.2);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

cite {
	font-style: normal;
	padding: 10px;
	margin-top: 15px;
	cursor: default;
}

cite span {
	color: rgb(150,0,0);
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
}
/* END GENERAL *********************************/


/* NAV ******************************/
#navIcon {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -37.5px;
	width: 75px;
	height: 40px;
	cursor: pointer;
	z-index: 9999;
}


nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background: rgba(0,0,0,0.9);
	z-index: 9999;
}

nav a {
	color: rgb(255,240,240);
	width: 75px;
	height: 50px;
	margin: auto;
}

nav p {
	color: rgb(255,240,240);
	font-size: 1.25em;
	padding-top: 75px;
	padding-bottom: 25px;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	margin: 10px auto;
}

nav ul li:nth-of-type(1),
nav ul li:nth-of-type(2) {
	display: inline-block;
}

nav q span {
	color: rgb(255,240,240);
}

nav cite {
	color: rgb(255,240,240);
}

#closeNav {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: rgb(125,0,0);
	border-top: 1px solid rgb(200,0,0);
	border-left: 1px solid rgb(200,0,0);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
	z-index: 999999;
}

#closeNav p {
	color: rgb(255,100,100);
	line-height: 30px;
	font-size: 1.25em;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#closeNav p:active, #closeNav p:focus, #closeNav p:hover {
	color: ivory;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}
/* END NAV ******************/


/*HEADER AND LOGO, FLOWER STYLINGS IN FLOWER.CSS ***********************/
header {
	position: relative;
	padding-top: 50px;
	padding-bottom: 25px;
	background: url('../img/backgrounds/keyboard.jpg');
	background-repeat: no-repeat;
	background-size: 100% 50%;
}

header h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 12.5vw;
	letter-spacing: 1px;
	color: rgb(75,75,75);
	text-shadow: .5px .25px 0px rgb(125,0,0);
	margin-bottom: -25px;
	cursor: default;
}

.headerImg {
	width: 125px; 
	height: 204px; 
}

.headerTitle {
	width: 200px; 
	height: 30px;
	margin: 5px;	
}

.subTitle {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.25em;
	margin: 25px auto;
}

/* END HEADER ***********************/


/* GENERAL SECTIONS STYLING ***********************/
section {
	padding-top: 25px;
	padding-bottom: 50px;
}

section h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 15vw;
	font-weight: 100;
	color: rgb(75,75,75);
	margin: 50px auto;
}

section a {
	margin: 50px auto 10px;
}

section p {
	width: 90%;
	max-width: 500px;
	line-height: 24px;
	margin: 10px auto;
	padding: 5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}
/* END SECTIONS ***********************/


/* SECTION ONE, PROJECTS ***********************/
section:nth-of-type(1) {
	background: url('../img/backgrounds/leoSm.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.projectWrap {
	margin: 25px auto 75px;
}

.projectLink {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
}

.projectImg {
	width: 225px;
	height: 175px;
	margin: 10px auto;
}

.projectDes {
	width: 90%;
	max-width: 500px;
	line-height: 24px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 2.5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.projectWrap:avtive > p, .projectWrap:focus > p, .projectWrap:hover > p {
	background: rgba(255,255,255,0.4);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px 5px 5px rgba(0,0,0,0.2);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}
/* END SECTION ONE ***********************/


/* FOOTER ***********************/
footer {
	position: relative;
	padding-top: 15px;
	background: -webkit-linear-gradient(left, black, rgb(50,0,0), black);background: linear-gradient(to right, black, rgb(50,0,0), black);
}

footer a {
	position: absolute;
	top: 10px;
	width: 50px;
	height: 50px;
}

#footerGithubLink {
	left: 10px;
}

#footerLinkedinLink {
	right: 10px;
}

footer p {
	color: ivory;
	font-size: .9em;
	line-height: 20px;
}

footer p:nth-of-type(3) {
	font-size: 2em;
	margin-bottom: 15px;
}
/* END FOOTER ***********************/


/* MEDIA QUERIES ***********************/
/* SMALL SCREENS ************/

/* END SMALL SCREENS ************/



/* MEDIUM SCREENS ************/
@media screen and (min-width: 500px) {
	/* GENERAL SECTIONS STYLING MEDIUM SCREENS ***********************/
	section h1 {
		font-size: 10vw;
	}
	/* END GENERAL SECTIONS STYLING MEDIUM SCREENS ***********************/

	
	/* NAV MEDIUM SCREENS ******************************/
	nav p {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	nav ul li {
		display: inline-block;
		margin: 10px auto;
	}
	
	nav ul li:nth-of-type(4) {
		margin: auto 25px;
	}

	nav ul li:nth-of-type(1),
	nav ul li:nth-of-type(2) {
		display: inline-block;
	}
	/* END NAV MEDIUM SCREENS ******************/
	
	
	
	/* HEADER MEDIUM SCREENS ***********************/
	header h1 {
		font-size: 10vw;
		margin-top: 50px;
		margin-bottom: 100px;
	}

	.headerImg {
		width: 150px; 
		height: 245px; 
	}
	
	.headerTitle {
		margin: 25px 10px;
	}
	
	.subTitle {
		font-size: 1.25em;
		margin: 50px auto;
	}
	/* END HEADER MEDIUM SCREENS ***********************/
	
	
	
	/* SECTION ONE, PROJECTS MEDIUM SCREENS ***********************/
	section:nth-of-type(1) {
		background: url('../img/backgrounds/leo.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
	}
	
	.projectImg {
		width: 300px;
		height: 250px;
	}
	/* END SECTION ONE MEDIUM SCREENS***********************/
	
	
	
	/* FOOTER MEDIUM SCREENS***********************/
	#footerGithubLink {
		left: 50%;
		margin-left: -150px;
	}

	#footerLinkedinLink {
		left: 50%;
		margin-left: 100px;
	}
	/* END FOOTER MEDIUM SCREENS***********************/
}
/* END MEDIUM SCREENS***********************/


/* LARGE SCREENS ************/
@media screen and (min-width: 1000px) {
	/* GENERAL SECTIONS STYLING LARGE SCREENS ***********************/
	section h1 {
		font-size: 7vw;
	}
	/* END GENERAL SECTIONS STYLING LARGE SCREENS ***********************/

	
	
	/* HEADER LARGE SCREENS ***********************/
	header {
		padding-bottom: 100px;
	}
	
	header h1 {
		font-size: 7.5vw;
		text-shadow: .75px .75px 0px rgb(125,0,0);
		margin-top: 75px;
		margin-bottom: 125px;
	}

	.headerImg {
		width: 175px; 
		height: 270px; 
	}
	
	.headerTitle {
		position: absolute;
		bottom: 215px;
		left: 50%;
		width: 300px; 
		height: 50px;
	}
	
	#headerTitle1 {
		margin-left: -450px;
	}
	
	#headerTitle2 {
		margin-left: 150px;
	}
	
	.subTitle {
		font-size: 1.5em;
		margin: 50px auto;
	}
	/* END HEADER LARGE SCREENS ***********************/
	
	
	
	/* SECTION ONE, PROJECTS LARGE SCREENS ***********************/
	section:nth-of-type(1) {
		background: url('../img/backgrounds/leoL.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
	}
	
	.projectWrap {
		position: relative;
		margin: 25px auto 150px;
		height: 420px;
	}
	
	.projectLink {
		font-size: 1.75em;
	}
	
	.projectLinkLeft {
		margin-left: -420px;
	}
	
	.projectLinkRight {
		margin-right: -550px;
	}

	.projectImg {
		position: absolute;
		top: 50px;
		left: 50%;
		width: 420px;
		height: 345px;
	}
	
	.projectImgLeft {
		margin-left: -450px;
	}
	
	.projectImgRight {
		margin-left: 25px;
	}

	.projectDes {
		position: absolute;
		top: 125px;
		left: 50%;
		font-size: 1.25em;
		line-height: 30px;
		max-width: 420px;
	}
	
	.projectDesRight {
		margin-left: 25px;
	}
	
	.projectDesLeft {
		margin-left: -450px;
	}
	/* END SECTION ONE LARGE SCREENS***********************/
	
	
	
	/* FOOTER LARGE SCREENS***********************/	
	footer p:nth-of-type(4) {
		float: left;
		margin-left: 10px;
	}
	
	footer p:nth-of-type(5) {
		float: right;
		margin-right: 10px;
	}
	/* END FOOTER LARGE SCREENS***********************/
}
/* END LARGE SCREENS ************/





/* X LARGE SCREENS ************/
@media screen and (min-width: 1250px) {
	/* GENERAL SECTIONS STYLING X LARGE SCREENS ***********************/
	section h1 {
		font-size: 5.5vw;
	}
	
	q,
	q span {
		font-size: 1.25em;
	}
	/* END GENERAL SECTIONS STYLING X LARGE SCREENS ***********************/

	
	
	/* NAV X LARGE SCREENS ******************************/
	nav p {
		font-size: 1.5em;
		padding-top: 125px;
	}

	nav ul {
		margin: 50px auto 100px;
	}

	nav ul li {
		display: block;
		margin: 25px auto;
	}

	nav ul li:nth-of-type(1),
	nav ul li:nth-of-type(2) {
		margin-bottom: 50px;
	}
	/* END NAV X LARGE SCREENS ******************/
	


	/* HEADER X LARGE SCREENS ***********************/

	/* END HEADER X LARGE SCREENS ***********************/
	
	
	
	/* SECTION ONE, PROJECTS X LARGE SCREENS ***********************/

	/* END SECTION ONE X LARGE SCREENS***********************/
	
	
	
	/* FOOTER X LARGE SCREENS***********************/

	/* END FOOTER X LARGE SCREENS***********************/
}
/* END X LARGE SCREENS ************/






