/* INDEX CSS */

/* DESIGNED FOR SMALL SCREENS FIRST */
/* STYLING FOR MEDIUM AND LARGE SCREENS BELOW IN MEDIA QUERRIES */


/* GENERAL RESETS AND STYLINGS**********************************************************/
*, *:before, *:after {
	/* UNIVERSAL BOX-SIZING - SET WIDTH TO INCLUDE PADDING AND BORDER */
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
}

html,
body,
header,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
em,
cite,
span,
footer {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(25,25,25);
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	/* MORE ANCHOR STYLINGS BELOW IN NAV AND SECTIONS */
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

q {
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: rgb(150,0,0);
	width: 95%;
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 2.5px;
	cursor: default;
}

q span {
	color: rgb(50,15,15);
}

cite {
	font-style: normal;
	padding: 10px;
	margin-top: 15px;
	cursor: default;
}

cite span {
	color: rgb(150,0,0);
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
	margin: 25px auto 35px;
}
/* END GENERAL *********************************/


/* NAV ******************************/
#navBackground {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 65px;
	background: rgba(255,255,245,0.7);
}

#navIconWrap {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 65px;
	background-color: rgba(255,255,245,0.9);
	padding: 5px;
	padding-top: 10px;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-radius: 0px 0px 2.5px 0px;
	z-index: 999;
}

#navIcon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 9999;
	-webkit-filter: opacity(.5);filter: opacity(.5);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#navIcon:active, #navIcon:focus, #navIcon:hover {
	-webkit-filter: opacity(.9);filter: opacity(.9);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}


nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding-top: 15px;
	background: rgba(0,0,0,0.99);
	z-index: 9999;
}

nav a {
	color: rgb(225,15,15);
	width: 75px;
	height: 50px;
	margin: auto;
}

nav a:active, nav a:focus, nav a:hover {
	color: rgb(255,255,240);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

nav p {
	color: rgb(255,255,240);
	font-size: 1.25em;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	margin: 10px auto;
}

#navGithubLink,
#navLinkedinLink {
	display: inline-block !important;
	width: 75px;
	margin: 15px auto;
}

nav q span {
	color: rgb(255,255,240);
}

nav cite {
	color: rgb(255,255,240);
}

#closeNav {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: rgb(125,0,0);
	border-top: 1px solid rgb(200,0,0);
	border-left: 1px solid rgb(200,0,0);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
	z-index: 999999;
}

#closeNav p {
	color: rgb(255,100,100);
	line-height: 30px;
	font-size: 1.25em;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#closeNav p:active, #closeNav p:focus, #closeNav p:hover {
	color: ivory;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#headerNav {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 65px;
	padding: 10px;
	padding-left: 0px;
	padding-top: 5px;
	background-color: rgba(255,255,250,0.9);
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-radius: 0px 0px 0px 2.5px;
	z-index: 9999;
}

#headerNav a {
	font-family: 'Playfair Display', serif;
	color: rgb(50,50,50);
	padding-left: 5px;
	padding-bottom: 25px;
}

#headerProjects {
	background: url('../img/misc_icons/projectsIcon.png');
}

#headerMe {
	background: url('../img/misc_icons/meIcon.png');
}

#headerContact {
	background: url('../img/misc_icons/contactIcon.png');
}

#headerTop  {
	background: url('../img/misc_icons/topIcon.png');
}

#headerProjects,
#headerMe,
#headerContact,
#headerTop {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 25px 20px;
	-webkit-filter: opacity(.5);filter: opacity(.5);
}

#headerNav a:active, #headerNav a:focus, #headerNav a:hover {
	font-style: italic;
	color: rgb(0,0,0);
	-webkit-filter: opacity(.9);filter: opacity(.9);
}
/* END NAV ******************/


/*HEADER ***********************/
header {
	position: relative;
	padding-top: 50px;
	padding-bottom: 25px;
	height: 420px;
	overflow: hidden;
	background: url('../img/backgrounds/rain2Sm.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#whoIAmDiv {
	padding-top: 50px;
	margin: auto;
}

#whoIAmDiv h2 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: ivory;
	padding-bottom: 150px;
	text-shadow: 1px 1px 0px rgb(50,50,50);
	cursor: default;
}

#whoIAmDiv p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	color: ivory;
	text-shadow: 1px 1px 0px rgb(50,50,50);
}
/* END HEADER ***********************/



/* TOOLS SECTION ******************/
#tools ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	background: rgb(255,255,245);
	border-bottom: 1px solid lightgrey;
}

#tools ul li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 5px 7.5px 6px 7.5px;
	white-space: nowrap;
	cursor: default;
}
/* END TOOLS SECTION ************************/



/* GENERAL SECTIONS STYLING ***********************/
section h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 15vw;
	font-weight: 100;
	margin: auto;
	cursor: default;
}

section a {
	margin: 50px auto 10px;
}

section p {
	width: 90%;
	line-height: 24px;
	margin: 10px auto;
	padding: 5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}
/* END SECTIONS ***********************/



/* PROJECTS SECTION ***********************/
#projectSection {
	color: rgb(35,35,35);
	overflow: hidden;
	position: relative;
}

#projectsTitle {
	font-style: normal;
	letter-spacing: 1px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#projectsTitle  span {
	
}

#projectMenuWrap {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 175px;
	margin: auto auto 100px;
	padding-top: 10px;
	background: ivory;
	border-top: 4px solid rgb(50,50,50);
	border-bottom: 5px solid rgb(50,50,50);
	overflow-X: auto;
	overflow-Y: hidden;
	white-space: nowrap;
}

#projectMenu {

}

#projectMenu p {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-right: 30px;
	padding-bottom: 100px;
	padding-left: 30px;
	background-size: 100px 100px !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
	opacity: .7;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	cursor: pointer;
}

.projectMainDes {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 90%;
	max-width: 1100px;
	line-height: 27px;
	margin: 10px auto;
}

/* .projectMainDes span {
	white-space: nowrap;
} */

#methodology {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.55em;
	opacity: 0;
	white-space: nowrap;
	-webkit-animation: methodologySlide 3s linear infinite;animation: methodologySlide 3s linear infinite;
}

@-webkit-keyframes methodologySlide {
	0% {opacity: 0;}
	5% {opacity: 0;}
	25% {opacity: 1;}
	65% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes methodologySlide {
	0% {opacity: 0;}
	5% {opacity: 0;}
	25% {opacity: 1;}
	65% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}

.projGitImg {
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px auto;
	opacity: .7;
}

#mainProjHr {
	max-width: 1200px;
}

.projectArrow {
	position: absolute;
	margin-top: -65px;
	left: 50%;
	width: 35px;
	height: 35px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent grey grey;
	z-index: 999;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

#projectArrow1 {
	margin-left: -75px;
	-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);
}

#projectArrow1 p {
	-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);
	margin-top: -7.5px;
	text-indent: 5px;
	cursor: pointer;
}

#projectArrow2 {
	margin-left: 35px;
	-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg);
}

#projectArrow2 p {
	-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);
	margin-top: -20px;
	margin-left: 20px;
	cursor: pointer;
}

.projectWrap {
	margin: 25px auto 75px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.projectLink {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1.5em;
	padding: auto 5px;
	border-top: 5px double black;
	border-bottom: 5px double black;
}

.projectImg {
	width: 225px;
	height: 175px;
	margin: 10px auto;
}

.projectDes {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	max-width: 500px;
	line-height: 27px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 2.5px;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

.projectDes span {
	font-style: italic;
	font-weight: 600;
	border-bottom: 1px solid rgb(25,25,25);
	padding-left: 5px;
	padding-right: 5px;
}
/* END PROJECTS SECTION***********************/



/* SUBHEADER FLOWER STYLINGS IN FLOWER.CSS *************/
#subHeaderWrap {
	position: relative;
}

#subHeader {
	position: relative;
	padding-bottom: 25px;
	overflow: hidden;
}

#subHeader h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 10vw;
	letter-spacing: 1px;
	color: black;
	margin-bottom: -10px;
	cursor: default;
	z-index: 99999;
}

#monitor {
	display: none;
}

.headerImg {
	width: 125px; 
	height: 204px;
}

#devHand {
	-webkit-transform: translate(-1000px, 0px);-ms-transform: translate(-1000px, 0px);transform: translate(-1000px, 0px);
	-webkit-transition-duration: 1s;transition-duration: 1s;
	-webkit-filter: saturate(2);filter: saturate(2);
}

#desHand {
	-webkit-transform: translate(1000px, 0px);-ms-transform: translate(1000px, 0px);transform: translate(1000px, 0px);
	-webkit-transition-duration: 1s;transition-duration: 1s;
	-webkit-filter: saturate(2);filter: saturate(2);
}

.headerTitle {
	width: 200px; 
	height: 30px;
	margin: 5px;	
}

#dev{
	-webkit-transition-duration: 1s;transition-duration: 1s;
}

#des {
	-webkit-transition-duration: 1s;transition-duration: 1s;
}

.subTitle {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.25em;
	margin: 25px auto;
}

#color {
	display: none;
}
/* END SUBHEADER **********************/



/* ME SECTION **************/
#meSection {
	position: relative;
	background: -webkit-linear-gradient(left, black 50%, white 50.01%);background: linear-gradient(to right, black 50%, white 50.01%);
	padding-top: 25px;
	padding-bottom: 0px;
	overflow: hidden;
}

#meSection .wrapper {
	margin: auto;
	height: 100%;
}

#meSection h1 {
	font-style: normal;
	color: white;
	margin-top: 0px;
	margin-left: -20px;
	margin-bottom: 15px;
}

#meSection h1 span {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1em;
	color: black;
	text-shadow: none;
	margin-left: 5px;
}

#myPicDiv {
	width: 100px;
	height: 125px;
	margin: 25px auto 15px;
	border-radius: 0px 30% 0px 30%;
}

.meText {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: black;
	line-height: 27px;
	background: white;
	padding: 10px;
	border-radius: 25px;
	width: 90%;
	margin: 25px auto;
}

.meText:nth-of-type(1) {
	width: 150px;
}

.meText:nth-of-type(2) {
	max-width: 600px;
}

#yinyang2 {
	width: 50px;
	height: 50px;
	margin: auto auto 25px;
	background: url('../img/yinyang2.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

#meSection h2 ,
#myDealSection h2,
#contactSection h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	letter-spacing: 1px;
}

#myDealSection {
	background: black;
	text-align: center;
	padding-bottom: 50px;
}

#myDealTitle {
	color: rgb(50,50,50);
	text-shadow: 2px 1px 0px rgb(100,175,255);
	font-size: 3em;
	cursor: default;
	padding-top: 35px;
	padding-bottom: 20px;
}

#myDealTitle span {
	font-style: italic;
	text-shadow: 2px 1px 0px rgb(175,25,25);
}

#devices {
	margin-top: 15px;
}

.note {
	color: rgb(100,175,255);
	font-style: italic;
	margin-top: 0px;
}

#meSection2 {
	position: relative;
	height: 750px;
}

.detailTitle {
	padding-top: 25px;
	padding-bottom: 25px;
	cursor: default;
}

.myDealText {
	font-family: 'Open Sans', sans-serif;
	color: ivory;
	font-weight: 300;
	line-height: 27px;
}

.happyFace {
	color: rgb(175,15,15);
	font-size: 2.5em;
	margin-bottom: 50px;
}

#myDealSection q {
	max-width: 420px;
}

#myDealSection q span {
	color: rgb(225,210,210);
}

#myDealSection cite {
	color: rgb(175,15,15);
}

#myDealSection cite span {
	color: rgb(100,175,255);
}

#contactSection {
	padding-top: 0px;
	padding-bottom: 0px;
}

#contact {
	background: -webkit-linear-gradient(right, black 50%, white 50.01%);background: linear-gradient(to left, black 50%, white 50.01%);
	padding-bottom: 75px;
}

#contactTitle {
	font-size: 3em;
	cursor: default;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-left: -10px;
}

#contactTitle span {
	color: white;
}

.contactText {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: black;
	line-height: 27px;
	background: white;
	padding: 10px;
	border-radius: 25px;
	max-width: 275px;
	margin: 25px auto;
}

.contactText:nth-of-type(2) {
	max-width: 500px;
}

.refEmail {
	color: black;
	font-weight: bold;
	font-size: 1.25em;
	background: white;
	padding: 10px;
	border-radius: 25px;
	max-width: 325px;
	margin: 25px auto;
}

#contactGithubLink,
#contactLinkedinLink {
	color: rgb(255,240,240);
	width: 75px;
	height: 50px;
	margin: auto;
	display: none;
}
/* END ME SECTION ***********/



/* SKILL SECTION ***********************/
#skillSection {
	background-attachment: fixed !important;
	padding-top: 0px;
}

#skillSection h1 {
	color: white;
	background: black;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-top: 0px;
}

#skillSection p {
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
}

#skillsKey h4 {
	display: inline-block;
	width: 135px;
	border-bottom: 2px solid white;
}

#skillExplanationDiv {
	background: rgba(0,0,0,0.9);
	width: 95%;
	max-width: 750px;
	margin: 75px auto auto; 
	padding-top: 10px;
	padding-bottom: 15px;
}

.skillExplanation {
	line-height: 27px;
	color: white;
}

#skills {
	width: 100%;
	max-width: 420px;
	margin: 100px auto;
	padding-top: 25px;
	padding-bottom: 25px;
	background: rgba(0,0,0,0.9);
	border-bottom-color: white;
}

.skillKey {
	color: white;
}

.skill div {
	display: inline-block;
}

.skillInfo {
	width: 135px;
}

.skillName {
	display: inline-block;
	color: ivory;
	text-align: left;
	font-size: 0.9em;
	width: 90px;
	padding-left: 0px !important;
}

.skillLogo {
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 5px;
	border-radius: 1px;
}

.skillLev {
	text-align: left;
	width: 135px;
	height: 25px;
	margin-bottom: -8px;
}

.skillNum {
	display: inline-block;
	color: white;
	font-size: 0.9em;
	width: 15px;
	margin: 0px auto !important;
	padding: 0px !important;
	text-shadow: 1px 1px 0px black;
}

.skillLevDis {
	text-align: right;
	height: 100%;
	padding-right: 5px;
}

/* HTML */
#skillLevDis0 {
	background: -webkit-linear-gradient(left, black, orange);background: linear-gradient(to right, black, orange);
	width: 110px;
}

/* CSS */
#skillLevDis1 {
	background: -webkit-linear-gradient(left, black, dodgerblue);background: linear-gradient(to right, black, dodgerblue);
	width: 110px;
}

/* JAVASCRIPT */
#skillLevDis2 {
	background: -webkit-linear-gradient(left, black, red);background: linear-gradient(to right, black, red);
	width: 83px;
}

/* ILLUSTRATOR */
#skillLevDis3 {
	background: -webkit-linear-gradient(left, black, orange);background: linear-gradient(to right, black, orange);
	width: 97px;
}

/* PHOTOSHOP */
#skillLevDis4 {
	background: -webkit-linear-gradient(left, black, dodgerblue);background: linear-gradient(to right, black, dodgerblue);
	width: 70px;
}

/* GITHUB */
#skillLevDis5 {
	background: -webkit-linear-gradient(left, black, purple);background: linear-gradient(to right, black, purple);
	width: 70px;
}

/* JQUERY */
#skillLevDis6 {
	background: -webkit-linear-gradient(left, black, darkblue);background: linear-gradient(to right, black, darkblue);
	width: 40px;
}

/* AJAX */
#skillLevDis7 {
	background: -webkit-linear-gradient(left, black, blue);background: linear-gradient(to right, black, blue);
	width: 40px;
}

/* NODE */
#skillLevDis8 {
	background: -webkit-linear-gradient(left, black, green);background: linear-gradient(to right, black, green);
	width: 40px;
}

/* ANGULAR */
#skillLevDis9 {
	background: -webkit-linear-gradient(left, black, red);background: linear-gradient(to right, black, red);
	width: 40px;
}

/* PHP */
#skillLevDis10 {
	background: -webkit-linear-gradient(left, black, purple);background: linear-gradient(to right, black, purple);
	width: 27px;
}

/* MYSQL */
#skillLevDis11 {
	background: -webkit-linear-gradient(left, black, dodgerblue, orange);background: linear-gradient(to right, black, dodgerblue, orange);
	width: 27px;
}

.skillHeading {
	font-size: 1.2em;
	max-width: 400px !important;
	margin: auto;
	border-bottom: 1px solid black;
}

#skillLevelExplanationDiv {
	margin-top: 15px;
}

.skillLevelExplanation {
	color: white;
}

#skillQuoteDiv {
	width: 95%;
	max-width: 750px;
	margin: auto;
	background: rgba(0,0,0,0.9);
	padding-top: 10px;
	padding-bottom: 10px;
}

#skillQuoteDiv  q span {
	color: rgb(225,210,210);
}

#skillQuoteDiv  cite {
	color: rgb(175,15,15);
}

#skillQuoteDiv  cite span {
	color: rgb(100,175,255);
}
/* END SKILL SECTION ***********************/



/* CODE FOR A HAPPY LIFE SECTION ******************************/
#codeSection {
	position: relative;
	background: black;
	overflow: hidden;
}

#codeSection h1 {
	font-size: 9vw;
	color: ivory;
	padding: 5px;
	padding-top: 25px;
	margin-bottom: 15px;
}

#codeSection h1 span{
	color: rgb(25,25,25);
	text-shadow: 2px 1px 0px rgb(100,175,255);
}

#codeSection p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: rgb(175,15,15);
	margin: 15px auto 10px;
}

#codeSection h5 {
	display: none;
}

#codeSection q span {
	color: ivory;
}

#codeSection cite {
	color: ivory;
}

.codeWrap{
	margin: 35px auto 50px;
	margin-left: 5%;
}

code {
	display: block;
	text-align: left;
	line-height: 20px;
	color: ivory;
}

.italic {
	font-style: italic;
	font-weight: bold;
	color: rgb(200,0,0);
}

.punc{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(175,15,15);
}

.string {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 1px;
	color: rgb(100,175,255);
}

.oneIndent {
	text-indent: 15px;
}

.twoIndents {
	text-indent: 30px;
}

.threeIndents {
	text-indent: 45px;
}
/* END CODE SECTION *************/



/* FOOTER ***********************/
footer {
	position: relative;
	padding-top: 15px;
	background: -webkit-linear-gradient(black, rgb(10,0,0));background: linear-gradient( black, rgb(10,0,0));
}

footer a {
	position: absolute;
	top: 10px;
	width: 50px;
	height: 50px;
}

#footerGithubLink {
	left: 10px;
}

#footerLinkedinLink {
	right: 10px;
}

footer p {
	color: ivory;
	font-size: .9em;
	line-height: 20px;
}

footer p:nth-of-type(1) {
	font-size: 2em;
	margin-bottom: 15px;
}
/* END FOOTER ***********************/



/* MEDIA QUERIES ***********************/
/* SMALL SCREENS ************/

/* END SMALL SCREENS ************/



/* MEDIUM SCREENS ************/
@media screen and (min-width: 500px) {	
	/* NAV MEDIUM SCREENS ******************************/
	nav p {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	nav ul {
		margin-top: 0px;
	}

	nav ul li {
		display: inline-block;
		padding-left: 15px;
	}
	
	#navGithubLink,
	#navLinkedinLink {
		margin-top: 0px;
	}
	
	#headerNav {
		padding-top: 0px;
	}
	
	#headerNav a {
		font-size: 1.25em;
		margin-left: 25px;
		padding-bottom: 30px;
	}
	
	#headerProjects,
	#headerMe,
	#headerContact,
	#headerTop {
		background-size: 35px 30px;
	}
	/* END NAV MEDIUM SCREENS ******************/
	
	
	
	/* HEADER MEDIUM SCREENS ***********************/
	#whoIAmDiv h2 {
		font-size: 3.5em;
		color: ivory;
		margin-top: -30px;
		padding-bottom: 150px;
		text-shadow: 1px 1px 0px rgb(50,50,50);
	}

	#whoIAmDiv p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 1.25em;
		color: ivory;
		text-shadow: 1px 1px 0px rgb(50,50,50);
	}
	/* END HEADER MEDIUM SCREENS ***********************/
	
	
	
	/* GENERAL SECTIONS STYLING MEDIUM SCREENS ***********************/
	section h1 {
		font-size: 10vw;
	}
	/* END GENERAL SECTIONS STYLING MEDIUM SCREENS ***********************/
	
	
	
	/* PROJECTS MEDIUM SCREENS ***********************/
	/* #projectsTitle {
		letter-spacing: 7.5px;
		text-indent: 65px;
	} */

	/* #projectsTitle  span {
		margin-left: 15px;
	} */
	
	#projectMenuWrap {
		margin: auto auto 125px;
	}
	
	.projectArrow {
		margin-top: -75px;
	}
	
	#projectArrow1 {
		margin-left: -100px;
	}

	#projectArrow2 {
		margin-left: 60px;
	}
	
	.projectImg {
		width: 300px;
		height: 250px;
		margin-top: 35px;
	}
	
	.projectLink {
		font-size: 2em;
	}
	/* END PROJECTS SECTION MEDIUM SCREENS ***********************/
	
	
	
	/* SUB HEADER MEDIUM SCREENS *******/
	#subHeader h1 {
		font-size: 10vw;
		margin-top: 25px;
		margin-bottom: 0px;
	}
	
	.headerImg {
		width: 150px; 
		height: 245px;
		margin-top: 25px;
	}
	
	.headerTitle {
		margin: 5px 10px 15px;
	}
	
	.subTitle {
		font-size: 1.25em;
		margin: 0px auto 50px;
	}
	
	#color {
		display: inline-block;
		width: 250px;
		height: 300px;
		background: url('../img/backgrounds/colorPaper.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -57.5px auto auto;
		-webkit-filter: hue-rotate(45deg) drop-shadow(0px 10px 5px rgba(0,0,0,0.5));filter: hue-rotate(45deg) drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
		z-index: 99;
	}
	/* END SUB HEADER MEDIUM SCREENS *******/
	
	
	
	/* ME SECTION MEDIUM SCREENS *****************************/
	#meSection {
		/* margin-top: 50px; */
	}
	
	#myDealSection {
		padding-bottom: 100px;
	}
	
	.refEmail {
		letter-spacing: .75px;
	}
	/* END SECTION TWO MEDIUM SCREENS *****************************/
	
	
	
	/* SKILL SECTION MEDIUM SCREENS ***********************/
	#skillSection h1 {
		padding-bottom: 111px;
	}
	/* END SKILL SECTION MEDIUM SCREENS ***********************/
	
	
	
	/* CODE FOR A HAPPY LIFE SECTION MEDIUM SCREENS ******************************/
	code {
		font-size: 1.5em;
		line-height: 30px;
	}
	/* END CODE SECTION MEDIUM SCREENS *************/
	
	
	/* FOOTER MEDIUM SCREENS ***********************/
	#footerGithubLink {
		left: 50%;
		margin-left: -150px;
	}

	#footerLinkedinLink {
		left: 50%;
		margin-left: 100px;
	}
	/* END FOOTER MEDIUM SCREENS ***********************/
}
/* END MEDIUM SCREENS ***********************/


/* LARGE SCREENS ************/
@media screen and (min-width: 1000px) {
	/* GENERAL SECTIONS STYLING LARGE SCREENS ***********************/
	section h1 {
		font-size: 7vw;
	}
	/* END GENERAL SECTIONS STYLING LARGE SCREENS ***********************/

	
	
	/* HEADER LARGE SCREENS ***********************/
	header {
		background: url('../img/backgrounds/rain2.jpg');
		background-repeat: no-repeat;
		background-size: 100% 420px;
		background-position: center top;
		background-attachment: fixed;
	}
	
	#whoIAmDiv {
		position: absolute;
		top: -50px;
		left: 150px;
	}

	#whoIAmDiv h2 {
		font-family: 'Playfair Display', serif;
		font-size: 3em;
		color: ivory;
		margin-top: 0px;
		padding-bottom: 25px;
		text-shadow: 1px 1px 0px rgb(50,50,50);
	}

	#whoIAmDiv p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 1.1em;
		color: ivory;
		text-shadow: 1px 1px 0px rgb(50,50,50);
	}
	/* END HEADER LARGE SCREENS ***********************/
	
	
	
	/* MAIN DIV  LARGE SCREENS *************/

	/* END LARGE SCREENS ****************/
	
	
	
	/* PROJECTS SECTION LARGE SCREENS ***********************/
	#projectsTitle {
		padding-top: 100px;
	}

	#projectsTitle  span {
		
	}
	
	#projectMenu p:active, #projectMenu p:focus, #projectMenu p:hover {
		opacity: 1;
		font-style: italic;
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	
	.projGitImg:active, .projGitImg:focus, .projGitImg:hover {
		-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);
		opacity: 1;
	}
	
	#projectArrow1 {
		margin-left: -475px;
	}

	#projectArrow2 {
		margin-left: 445px;
	}
	
	.projectArrow:active, .projectArrow:focus, .projectArrow:hover {
		border-color: transparent transparent rgb(50,50,50) rgb(50,50,50);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	
	.projBox {
		position: absolute;
		top: 65px;
		left: 50%;
		width: 250px;
		background: rgb(255,255,245);
		background: url('../img/backgrounds/methodBG.jpg');
		background-size: cover;
	}
	
	#projBox1 {
		margin-left: -485px;
		height: 165px;
		padding-top: 25px;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	}
	
	#methodology {
		margin-bottom: 35px;
		/* color: white; */
		/* text-shadow: 0px 1px 1px rgb(50,50,50);  */
	}
	
	#projBox2 {
		margin-left: 235px;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	}
	
	.projectMainDes {
		font-size: 1.25em;
		line-height: 30px;
	}
	
	.projectWrap {
		position: relative;
		margin: 25px auto 150px;
		height: 420px;
	}
	
	.projectLink {
		font-size: 1.75em;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.projectLinkLeft {
		margin-left: -420px;
	}
	
	.projectLinkRight {
		margin-right: -550px;
	}

	.projectImg {
		position: absolute;
		top: 50px;
		left: 50%;
		width: 420px;
		height: 345px;
		-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.5));filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.5));
	}
	
	.projectImgLeft {
		margin-left: -450px;
	}
	
	.projectImgRight {
		margin-left: 25px;
	}

	.projectDes {
		position: absolute;
		top: -25px;
		left: 50%;
		font-size: 1.25em;
		line-height: 30px;
		text-align: left;
		padding: 10px;
		max-width: 420px;
	}
	
	.projectDes span {
		
	}
	
	.projectDesRight {
		margin-left: 25px;
	}
	
	.projectDesLeft {
		margin-left: -450px;
	}
	
	.projectWrap:active > .projectDesRight, .projectWrap:focus > .projectDesRight, .projectWrap:hover > .projectDesRight {
		background: rgba(255,255,245,0.9);
		box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	.projectWrap:active > .projectDesLeft, .projectWrap:focus > .projectDesLeft, .projectWrap:hover > .projectDesLeft {
		background: rgba(255,255,245,0.9);
		box-shadow: -5px 5px 5px rgba(0,0,0,0.2);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	/* END PROJECTS SECTION LARGE SCREENS***********************/
	
	
	
	/* SUB HEADER LARGE SCREEN **************/
	#subHeader h1 {
		font-size: 7.5vw;
		margin-top: 75px;
		margin-bottom: 25px;
		padding-top: 90px;
	}
	
	#monitor {
		display: block;
		position: absolute;
		top: 75px;
		left: 5%;
		width: 90%;
		height: 775px;
		background: url('../img/backgrounds/monitorLg2.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	
	#monitorShadow,
	#monitorShadow2 {
		display: block;
		position: absolute;
		bottom: 25px;
		left: 50%;
		
		height: 65px;
		border-radius: 25px;
	}
	
	#monitorShadow {
		background: radial-gradient(rgba(50,50,50,0.7), transparent, transparent);
		margin-left: -60%;
		width: 120%;
	}
	
	#monitorShadow2 {
		background: linear-gradient(to right, transparent, rgba(50,50,50,0.7), transparent);
		margin-left: -35%;
		width: 70%;
		box-shadow: 
	}

	.headerImg {
		width: 175px; 
		height: 270px; 
		margin-top: -25px;
	}
	
	.headerTitle {
		position: absolute;
		bottom: 350px;
		left: 50%;
		width: 300px; 
		height: 50px;
	}

	#dev{
		margin-left: -400px;
	}

	#des {
		margin-left: 100px;
	}
	
	.subTitle {
		font-size: 1.5em;
		margin: 25px auto 50px;
	}
	/* END SUB HEADER LARGE SCREEN **************/
	
	
	
	/* ME SECTION LARGE SCREENS *****************************/
	#contactTitle,
	#myDealTitle {
		font-size: 5em !important;
	}
	
	.meText,
	.myDealText,
	.contactText {
		font-size: 1.25em;
	}
	
	.happyFace {
		font-size: 2.5em;
	}
	
	#dealSection p {
		font-size: 1.25em;
	}
	
	#myDealSection q {
		max-width: 700px;
	}
	/* END ME SECTION LARGE SCREENS *****************************/
	
	
	
	/*  SKILL SECTION LARGE SCREENS ***********************/
	#skillSection {
		position: relative;
		height: 1750px;
		background-attachment: fixed !important;
	}
	
	.skillExplanation {
		font-size: 1.25em;
		text-align: justify;
	}

	.aboutWrap {
		margin: 125px auto;
	}
	
	.leftAboutWrap {
		margin-left: 50px;
	}
	
	.rightAboutWrap {
		margin-right: 50px;
	}
	
	.innerAboutWrap {
		padding: 75px 25px;
	}
	
	#skills {
		position: absolute;
		top: 875px;
		left: 50%;
		width: 350px;
		margin-left: -175px;
		-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);
	}
	
	#skillGauge {
		margin-left: 135px;
		margin-bottom: 25px;
	}
	
	#skillCategory {
		position: absolute;
		width: 500px !important;
		top: 360px;
		left: -225px;
		-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);
	}
	
	.skillInfo {
		-webkit-transform: rotate(35deg);-ms-transform: rotate(35deg);transform: rotate(35deg);
	}
	
	.skillNum {
		-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);
	}
	
	#skillLevelExplanationDiv {
		position: absolute;
		top: 45%;
		left: 75px;
		width: 500px;
		-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);
		border-bottom: 2px solid white;
	}
	
	.skillLevelExplanation {
		display: inline;
	}
	
	#skillQuoteDiv {
		position: absolute;
		bottom: 25px;
		left: 50%;
		width: 750px;
		margin-left: -375px;
	}
	/* END SKILL SECTION LARGE SCREENS ***********************/
	
	
	
	/* CODE FOR A HAPPY LIFE SECTION LARGE SCREENS ******************************/
	#codeSection h5 {
		display: block;
		color: white;
	}
	
	#codeSection p {
		font-size: 1.5em;
		max-width: 700px;
	}

	code {
		margin-left: 10%;
		-webkit-transform: translate(-1000px, 0px);-ms-transform: translate(-1000px, 0px);transform: translate(-1000px, 0px);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}

	.oneIndent {
		text-indent: 25px;
	}

	.twoIndents {
		text-indent: 50px;
	}

	.threeIndents {
		text-indent: 75px;
	}
	
	#quoteDiv {
		position: absolute;
		top: 55%;
		right: 7.5%;
		-webkit-transform: translate(750px, 0px);-ms-transform: translate(750px, 0px);transform: translate(750px, 0px);
		-webkit-transition-duration: .5s;transition-duration: .5s;
	}
	
	#quote3 {
		width: auto;
	}
	/* END CODE SECTION LARGE SCREENS *************/
	
	
	
	/* FOOTER LARGE SCREENS ***********************/	
	footer p:nth-of-type(2) {
		float: left;
		margin-left: 10px;
	}
	
	footer p:nth-of-type(3) {
		float: right;
		margin-right: 10px;
	}
	/* END FOOTER LARGE SCREENS***********************/
}
/* END LARGE SCREENS ************/



/* X LARGE SCREENS ************/
@media screen and (min-width: 1250px) {
	/* NAV X LARGE SCREENS ******************************/
	nav p {
		font-size: 1.5em;
		padding-top: 10px;
	}

	nav ul {
		margin: 75px auto 25px;
	}

	nav ul li {
		display: block;
		margin: 25px auto;
	}
	
	nav ul li:nth-of-type(2) {
		margin-bottom: 15px;
	}
	
	#navGithubLink,
	#navLinkedinLink {
		margin-top: 25px;
	}
	/* END NAV X LARGE SCREENS ******************/
	

	
	/* MAIN DIV X LARGE SCREENS *************/
	
	/* END X LARGE SCREENS ****************/
	
	

	/* SUB HEADER X LARGE SCREENS ***********************/
	#subHeader {
		padding-bottom: 85px;
	}
	
	#subHeader h1 {
		margin-bottom: -25px;
	}
	
	#monitor {
		left: 10%;
		width: 80%;
		height: 825px;
	}
	
	#dev {
		margin-left: -450px;
	}
	
	#des {
		margin-left: 150px;
	}
	
	.headerTitle {
		bottom: 425px;
	}
	
	.subTitle {
		margin-top: 25px;
	}

	/* END SUB HEADER X LARGE SCREENS ***********************/
	
	
	
	/* GENERAL SECTIONS STYLING X LARGE SCREENS ***********************/
	section h1 {
		font-size: 5.5vw;
	}
	
	q {
		font-size: 2em;
	}
	
	q span {
		font-size: .9em;
	}
	/* END GENERAL SECTIONS STYLING X LARGE SCREENS ***********************/
	
	
	
	/* PROJECTS SECTION X LARGE SCREENS ***********************/
	#projectMenuWrap {
		background: url('../img/backgrounds/methodBG.jpg');
		border: none;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	}
	
	#projectArrow1 {
		margin-left: -585px;
	}

	#projectArrow2 {
		margin-left: 555px;
	}
	
	#projBox1 {
		margin-left: -600px;
	}
	
	#projBox2 {
		margin-left: 350px;
	}
	/* END PROJECTS SECTION X LARGE SCREENS***********************/
	
	
	
	/* ME SECTION X LARGE SCREENS *****************************/
	#meSection h1 {
		margin-left: -30px;
	}
	/* END ME SECTION X LARGE SCREENS *****************************/
	
	
	
	/* SKILL SECTION X LARGE SCREENS ***********************/
	#skillSection {
		height: 1850px;
	}
	
	#skills {
		top: 900px;
	}
	/* END SKILL SECTION X LARGE SCREENS***********************/
	
	
	
	/* FOOTER X LARGE SCREENS***********************/

	/* END FOOTER X LARGE SCREENS***********************/
}
/* END X LARGE SCREENS ************/